{{> navbar}}
<div class="container">
  <div class="row">

    <a href="javascript://" title="Add Channel"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">naam kanaal</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Chat</td>
        <td><a href="javascript://" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a href="javascript://" title="delete"><i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mail</td>
        <td><a href="javascript://" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a href="javascript://" title="delete"><i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Call</td>
        <td><a href="javascript://" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a href="javascript://" title="delete"><i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Call me back</td>
        <td><a href="javascript://" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a href="javascript://" title="delete"><i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>schedule call</td>
        <td><a href="javascript://" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a href="javascript://" title="delete"><i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>