{{> navbar}}
<div class="container">
  <div class="row">
    <div class="col">

    </div>

    <div class="col-10">

      <form>
        <div class="form-group row">
          <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Kanaal</label>
          <div class="col-sm-6">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1700 - chat</option>
              <option>1700 - telefoon</option>
              <option>1700 - email</option>
              <option>E-loket - chat</option>
              <option>E-loket - telefoon</option>
              <option>E-loket - email</option>
              <option>VLABEL - chat</option>
              <option>VLABEL - telefoon</option>
              <option>VLABEL - email</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-8 weekskipper">


              <a href="javascript:" title="vorige week"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
              <b>Deze week</b>
              <a href="javascript:" title="volgende week"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="col-sm-3">


              <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" size="8"/>
                <span class="input-group-addon">
                                        <a href="javascript:" title="selecteer een datum"><i class="fa fa-calendar-o" aria-hidden="true"></i></a>
                                     </span>

                <a href="javascript:" title="kopieren van dit schema naar de volgende weken tot"><i class="fa fa-files-o" aria-hidden="true"></i></a>

                <a href="javascript:" title="spring naar week"><i class="fa fa-search" aria-hidden="true"></i></a>
              </div>


            </div>
          </div>
        </div>

        <div class="form-group days">


          <!-- PER DAG -->
          <div
                  class="day border border-secondary rounded"
                  style="padding:1em;"
                  data-dayofweek="0"
                  data-calendarday="2017-12-31"
                  data-organisatieId="1"
                  data-channelId="1"
          >
            <h5>Maandag</h5>
            <div class="timeslots">
              <span class="">08:12 - 13:30
                <a href="javascript://"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
            </div>

            <div class="input-group invoer-nieuwe">
              <input data-timepicker type="text" class="form-control" aria-label="starting hour" placeholder="08:00">
              <input type="text" class="form-control" aria-label="end hour" placeholder="22:00">
              <span class="input-group-addon">+</span>
            </div>
          </div>


          <!-- PER DAG -->
          <div
                  class="day border border-secondary rounded"
                  style="padding:1em;"
                  data-dayofweek="0"
                  data-calendarday="2017-12-31"
                  data-organisatieId="1"
                  data-channelId="1"
          >
            <h5>Dinsdag</h5>
            <div class="timeslots">
              <span class="">08:12 - 13:30
                <a href="javascript://"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
            </div>

            <div class="input-group invoer-nieuwe">
              <input type="text" class="form-control" aria-label="starting hour" placeholder="08:00">
              <input type="text" class="form-control" aria-label="end hour" placeholder="22:00">
              <span class="input-group-addon">+</span>
            </div>
          </div>

          <!-- PER DAG -->
          <div
                  class="day border border-secondary rounded"
                  style="padding:1em;"
                  data-dayofweek="0"
                  data-calendarday="2017-12-31"
                  data-organisatieId="1"
                  data-channelId="1"
          >
            <h5>Woensdag</h5>
            <div class="timeslots">
              <span class="">08:12 - 13:30
                <a href="javascript://"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
            </div>

            <div class="input-group invoer-nieuwe">
              <input type="text" class="form-control" aria-label="starting hour" placeholder="08:00">
              <input type="text" class="form-control" aria-label="end hour" placeholder="22:00">
              <span class="input-group-addon">+</span>
            </div>
          </div>

          <!-- PER DAG -->
          <div
                  class="day border border-secondary rounded"
                  style="padding:1em;"
                  data-dayofweek="0"
                  data-calendarday="2017-12-31"
                  data-organisatieId="1"
                  data-channelId="1"
          >
            <h5>Donderdag</h5>
            <div class="timeslots">
              <span class="">08:12 - 13:30
                <a href="javascript://"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
            </div>

            <div class="input-group invoer-nieuwe">
              <input type="text" class="form-control" aria-label="starting hour" placeholder="08:00">
              <input type="text" class="form-control" aria-label="end hour" placeholder="22:00">
              <span class="input-group-addon">+</span>
            </div>
          </div>

          <!-- PER DAG -->
          <div
                  class="day border border-secondary rounded"
                  style="padding:1em;"
                  data-dayofweek="0"
                  data-calendarday="2017-12-31"
                  data-organisatieId="1"
                  data-channelId="1"
          >
            <h5>Vrijdag</h5>
            <div class="timeslots">
              <span class="">08:12 - 13:30
                <a href="javascript://"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
            </div>

            <div class="input-group invoer-nieuwe">
              <input type="text" class="form-control" aria-label="starting hour" placeholder="08:00">
              <input type="text" class="form-control" aria-label="end hour" placeholder="22:00">
              <span class="input-group-addon">+</span>
            </div>
          </div>

          <!-- PER DAG -->
          <div
                  class="day border border-secondary rounded"
                  style="padding:1em;"
                  data-dayofweek="0"
                  data-calendarday="2017-12-31"
                  data-organisatieId="1"
                  data-channelId="1"
          >
            <h5>Zaterdag</h5>
            <div class="timeslots">
              Niet geopend op zaterdag
            </div>

            <div class="input-group invoer-nieuwe">
              <input type="text" class="form-control" aria-label="starting hour" placeholder="08:00">
              <input type="text" class="form-control" aria-label="end hour" placeholder="22:00">
              <span class="input-group-addon">+</span>
            </div>
          </div>

          <!-- PER DAG -->
          <div
                  class="day border border-secondary rounded"
                  style="padding:1em;"
                  data-dayofweek="0"
                  data-calendarday="2017-12-31"
                  data-organisatieId="1"
                  data-channelId="1"
          >
            <h5>Zondag</h5>
            <div class="timeslots">
              niet geopend op zondag
            </div>

            <div class="input-group invoer-nieuwe">
              <input type="text" class="form-control" aria-label="starting hour" placeholder="08:00">
              <input type="text" class="form-control" aria-label="end hour" placeholder="22:00">
              <span class="input-group-addon">+</span>
            </div>
          </div>

        </div>
      </form>

    </div>
    <div class="col">

    </div>
  </div>
</div>