<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <img src="/images/logo.png" style="width: 180px;margin:2em;">
    </div>
  </div>
</div>

<form action="/ui">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-5 col-md-3">
        <div class="form-login">
          <h4>Openingsuren ingeven?</h4>
          <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username"/>
          </br>
          <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password"/>
          </br>
          <div class="wrapper">
            <span class="group-btn">
                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Login</button>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>